@{
    Layout = null;
}
@using CaptchaMvc.HtmlHelpers

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Algro :: Innovative IT and Business Solutions ::</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" href="../images/logo_icon.gif">
   
    <link href="~/Content/periwinkle-blue.min.css" rel="stylesheet" />
    <link href="~/Content/contactus.css" rel="stylesheet" />

    <style>
        .hero-title-wrapper {
            padding-top: -17px;
            width: 1000px;
            height: 383px;
            display: table;
            left: 50%;
            position: absolute;
            margin-left: -500px;
        }

        @@media only screen and (min-width: 1000px) {
            #ui-wrapper #content-wrapper, #ui-wrapper #layout-wrapper, #ui-wrapper.standard-hero #content-wrapper, #ui-wrapper.standard-hero #layout-wrapper {
                margin-top: 600px !important;
            }
        }

        @@media only screen and (max-width: 767px) {
            #ui-wrapper #content-wrapper, #ui-wrapper #layout-wrapper, #ui-wrapper.standard-hero #content-wrapper, #ui-wrapper.standard-hero #layout-wrapper {
                margin-top: 389px !important;
            }
        }

        @@media only screen and (max-width: 767px) {
            .hero-title-wrapper {
                padding-top: 0px;
                width: 90%;
                height: 255px;
                margin-left: -45%;
            }
        }
    </style>
    <style>
        /*  #block-what-we-think .acn-icon.icon-share, #block-what-we-think .countText.clickable, #block-what-we-think .module-article h4, #block-what-we-think .title.clickable, #block-what-we-think .featured-section-module a, #block-what-we-think .featured-section-module a:hover, #block-what-we-think .featured-section-module-carousel.interactive-fsm .cta.featured-section-article-link.center {
        color: #7E00FF !important;}*/
        #block-what-we-think .module-article li {
            margin: 5px 0;
        }

        #block-what-we-think .module-article ul {
            list-style: none;
        }
    </style>
</head>
<body id="body-id">
    <div id="ui-wrapper" style="position:relative;">


        @Html.Partial("Header")




        <div id="block-hero" class="ui-header color-container bg-color-active" data-shape="rect" data-shape-color="active">

            <div class="hero-header">


                

            </div>
            <!--[3/20/15] Merge 2/25 from Main Release Branch-->
            <div class="hero-article">

                <div class="item active background img-align-middle parallax" data-image-override="" data-mobile-image="" data-background-image="" style="height: 871.5px;">
                    <section>
                        <div class="hero-title-wrapper">
                            <div class="page-title page-title-dock">
                                <h1 class="" id="maincontent-hero" tabindex="-1">Contact Algro, INC</h1>
                                <div class="header-body col-sm-8 col-sm-offset-2">
                                    We appreciate your interest in Algro, INC. Provide some information about your business needs so that we may respond with a formal proposal or an answer to your inquiry at info@algroinc.com or complete our request for proposal form.

                                </div>

                            </div>
                        </div>
                    </section>
                </div>

            </div>
        </div>


        <div id="layout-wrapper" class="ui-layout-wrapper">
            <div id="overflow-controller" style="margin-top: -544px; padding-top: 272px; height: 743px;">
            </div>

        </div>



        <div id="content-wrapper" class="ui-content-wrapper">
            <section>

                <!-- /.final. This file has been optimized & ready -->
                <!-- Validates if background image is null/empty -->
                <!-- Validates if background video is null/empty -->
                <!-- Set shape color to default "White" if null/empty -->
                <!-- Merge Main Release: Changeset 724330 to 728897 -->
                <div id="block-block" class="ui-container  aligned row white c-left c-ui-delta" data-shape="delta" data-shape-color="white" data-show-top-line="False" data-scroll-speed="1" data-background-align="" data-background-cover="False" data-background-playerid="" data-background-mediaid="" data-background-playerform="" data-background-autoplay="False" data-background-autoloop="False" data-media-gallery-block="False" data-watch-link="" data-onplay="" style="min-height: 544px;">


                    <div class="ui-content-box dock-shadow-box bg-color-white dock  bottom-block-spacing bg-color-" style="width: 100%;">
                        <section class="container-block">





                            <div class="col-sm-12">
                                <div class="col-sm-12 ">

                                    <div class="acn-contact-us">
                                        <section class="form-section contact-info general-info ">
                                            <h2 class="corporate-black module-headline">General Inquiries</h2>



                                            <div class="col-sm-12">
                                                <div class="col-sm-12 ">




                                                    <div class="contact-info-item  col-xs-12 col-sm-12 ">

                                                        <a href="tel:1(901)881-1024">
                                                            <button class="btn btn-primary rotis ucase col-xs-12" data-rel="48eafcf8-a221-4c83-91bc-151b91c26a39" data-name="asset" data-linktype="generalinquiriesdetailsmodule">1 (901)881-1024</button>
                                                        </a>
                                                        <p class="col-xs-12">Toll-free from the United States and Canada</p>
                                                    </div>

                                                </div>
                                               
                                            </div>

                                        </section>

                                        <section class="form-section no-margin-xs no-padding-xs">
                                            <div class="panel-group acn-panel-group col-xs-12" id="contact-us-accordion">




                                                <div class="panel panel-default acn-accordion ">
                                                    
                                                    <div id="SectionModule_SendQuestion" class="bg-color-lighter-gray">
                                                        <div class="panel-body">



                                                            <form id="frmSendQuestion" method="post" class="form-horizontal acn-form bv-form" data-bv-message="This value is not valid" data-bv-feedbackicons-valid="glyphicon glyphicon-ok" data-bv-feedbackicons-invalid="glyphicon glyphicon-remove" data-bv-feedbackicons-validating="glyphicon glyphicon-refresh" data-bv-live="submitted" novalidate="novalidate">

                                                                <div id="SendQuestionThanksMsg" hidden="">
                                                                    <h2 style="margin: 0px"><span class="corporate-black module-headline">Thank you</span></h2>
                                                                    <p>Thank you for contacting us. You will receive an e-mail shortly to confirm receipt of your request or comment, while we route your submission to the appropriate group.</p>
                                                                    <p>
                                                                        To send a new question, click
                                                                        <a id="linkNewQuestion" href="javascript:void(0)">here </a>
                                                                    </p>
                                                                </div>

                                                                <div id="sendQuestionPanelBody">

                                                                    <div class="col-xs-12">
                                                                        <p class="col-xs-12 col-sm-6">Thank you for your interest in Algro services. Please provide the following information about your business needs to help us serve you better. This information will enable us to route your request to the appropriate person. You should receive a response within one to two business days.</p>
                                                                    </div>
                                                                    <div class="col-xs-12">
                                                                        <p class="col-xs-12 col-sm-6">
                                                                            <strong>All fields are required when completing this form.</strong>
                                                                        </p>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <div class="col-xs-12 col-sm-6 error-summary" data-bv-error-header="Error Summary">
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <div class="form-group has-feedback">
                                                                            <label class="control-label col-xs-12" for="sendQuestion_firstname">First Name</label>
                                                                            <div class="col-xs-12 col-sm-6">
                                                                                <input id="sendQuestion_firstname" pattern="^[a-z A-Z]*$" type="text" class="form-control" name="firstName" value="" required="" data-bv-container=".validatorMessage" data-bv-notempty-message="The first name is required and cannot be empty" maxlength="50" data-bv-field="firstName"><i class="form-control-feedback" data-bv-field="firstName" style="display: none;"></i>
                                                                            </div>
                                                                            <div class="validatorMessage col-xs-11 col-sm-6" tabindex="0"><span class="outer-message"><span data-bv-validator="notEmpty" data-bv-validator-for="firstName" class="help-block inner-message" style="display: none;">The first name is required and cannot be empty</span></span><span class="outer-message"><span data-bv-validator="regexp" data-bv-validator-for="firstName" class="help-block inner-message" style="display: none;">This value is not valid</span></span><span class="outer-message"><span data-bv-validator="stringLength" data-bv-validator-for="firstName" class="help-block inner-message" style="display: none;">This value is not valid</span></span></div>
                                                                        </div>

                                                                        <div class="form-group has-feedback">
                                                                            <label class=" control-label col-xs-12" for="sendQuestion_lastname">Last Name</label>
                                                                            <div class="col-xs-12 col-sm-6">
                                                                                <input id="sendQuestion_lastname" pattern="^[a-z A-Z]*$" type="text" class="form-control" name="lastName" value="" data-bv-container=".validatorMessage" required="" data-bv-notempty-message="The last name is required and cannot be empty" maxlength="50" data-bv-field="lastName"><i class="form-control-feedback" data-bv-field="lastName" style="display: none;"></i>
                                                                            </div>
                                                                            <div class="validatorMessage col-xs-11 col-sm-6" tabindex="0"><span class="outer-message"><span data-bv-validator="notEmpty" data-bv-validator-for="lastName" class="help-block inner-message" style="display: none;">The last name is required and cannot be empty</span></span><span class="outer-message"><span data-bv-validator="regexp" data-bv-validator-for="lastName" class="help-block inner-message" style="display: none;">This value is not valid</span></span><span class="outer-message"><span data-bv-validator="stringLength" data-bv-validator-for="lastName" class="help-block inner-message" style="display: none;">This value is not valid</span></span></div>
                                                                        </div>

                                                                        <div class="form-group has-feedback">
                                                                            <label class="control-label col-xs-12" for="sendQuestion_emailaddress">E-mail Address</label>
                                                                            <div class="col-xs-12 col-sm-6">
                                                                                <input id="sendQuestion_emailaddress" class="form-control" name="email" value="" type="email" data-bv-container=".validatorMessage" required="" data-bv-notempty-message="The email address is required and cannot be empty" data-bv-emailaddress-message="The input is not a valid email address." maxlength="100" data-bv-field="email"><i class="form-control-feedback" data-bv-field="email" style="display: none;"></i>
                                                                            </div>
                                                                            <div class="validatorMessage col-xs-11 col-sm-6" tabindex="0"><span class="outer-message"><span data-bv-validator="emailAddress" data-bv-validator-for="email" class="help-block inner-message" style="display: none;">The input is not a valid email address.</span></span><span class="outer-message"><span data-bv-validator="notEmpty" data-bv-validator-for="email" class="help-block inner-message" style="display: none;">The email address is required and cannot be empty</span></span><span class="outer-message"><span data-bv-validator="stringLength" data-bv-validator-for="email" class="help-block inner-message" style="display: none;">This value is not valid</span></span></div>
                                                                        </div>

                                                                        <div class="form-group has-feedback">
                                                                            <label class="control-label col-xs-12" for="sendQuestion_company">Company/Organization</label>
                                                                            <div class="col-xs-12 col-sm-6">
                                                                                <input id="sendQuestion_company" type="text" class="form-control" name="company" data-bv-container=".validatorMessage" required="" data-bv-notempty-message="Company/Organization must not be blank." maxlength="50" data-bv-field="company"><i class="form-control-feedback" data-bv-field="company" style="display: none;"></i>
                                                                            </div>
                                                                            <div class="validatorMessage col-xs-11 col-sm-6" tabindex="0"><span class="outer-message"><span data-bv-validator="notEmpty" data-bv-validator-for="company" class="help-block inner-message" style="display: none;">Company/Organization must not be blank.</span></span><span class="outer-message"><span data-bv-validator="stringLength" data-bv-validator-for="company" class="help-block inner-message" style="display: none;">This value is not valid</span></span></div>
                                                                        </div>

                                                                       

                                                                       
                                                                        <div class="form-group has-feedback">
                                                                            <label class=" control-label col-xs-12" for="sendQuestion_phone">Phone Number <label>(Please include country code)</label></label>
                                                                            <div class="col-xs-12 col-sm-6">

                                                                                <input type="text" id="sendQuestion_phone" class="form-control" name="phone_number" data-bv-container=".validatorMessage" required="" pattern="^[0-9]*$" data-bv-notempty-message="The phone number is required and cannot be empty" data-bv-regexp-message="The phone number format you entered is incorrect. Please use numbers only." maxlength="50" data-bv-field="phone_number"><i class="form-control-feedback" data-bv-field="phone_number" style="display: none;"></i>
                                                                            </div>
                                                                            <div class="validatorMessage col-xs-11 col-sm-6" tabindex="0"><span class="outer-message"><span data-bv-validator="notEmpty" data-bv-validator-for="phone_number" class="help-block inner-message" style="display: none;">The phone number is required and cannot be empty</span></span><span class="outer-message"><span data-bv-validator="regexp" data-bv-validator-for="phone_number" class="help-block inner-message" style="display: none;">The phone number format you entered is incorrect. Please use numbers only.</span></span><span class="outer-message"><span data-bv-validator="stringLength" data-bv-validator-for="phone_number" class="help-block inner-message" style="display: none;">This value is not valid</span></span></div>
                                                                        </div>

                                                                        <div class="form-group comments has-feedback">
                                                                            <div class="comment-header col-xs-12 control-label">
                                                                                <div class="col-sm-6">
                                                                                    <label class="control-label" for="sendQuestion_description">How can we help you?</label>
                                                                                    <label class="description countdown control-label" for="SendQuestion_Count">Characters remaining</label>
                                                                                    <input type="text" id="SendQuestion_Count" tabindex="-1" name="countdown" size="4" value="5000" readonly="readonly" class="countdown" data-bv-field="countdown"><i class="form-control-feedback" data-bv-field="countdown" style="display: none;"></i>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-12 col-sm-6 comment-body">
                                                                                <textarea id="sendQuestion_description" name="limitedtextarea" placeholder="Maximum 5000 characters" onkeydown="limitText('sendQuestion_description','SendQuestion_Count',5000);" onkeyup="limitText('sendQuestion_description','SendQuestion_Count',5000);" onpropertychange="limitText('sendQuestion_description','SendQuestion_Count',5000);" required="" data-bv-notempty-message="The comment is required and cannot be empty" data-bv-container=".validatorMessage" class="form-control comment-italic" data-bv-field="limitedtextarea"></textarea><i class="form-control-feedback" data-bv-field="limitedtextarea" style="display: none;"></i>
                                                                            </div>
                                                                            <div class="validatorMessage col-xs-11 col-sm-6" tabindex="0"><span class="outer-message"><span data-bv-validator="notEmpty" data-bv-validator-for="limitedtextarea" class="help-block inner-message" style="display: none;">The comment is required and cannot be empty</span></span></div>
                                                                        </div>






                                                                        <div id="sendquestionCaptcha" class="form-group has-feedback">
                                                                            <div id="captchaimg" class="col-xs-12">

                                                                                @Html.MathCaptcha()

                                                                            </div>
                                                                            <div id="captchaLabel" class="col-xs-12">
                                                                                <label class="control-label col-xs-12" for="KXlm6O2o0eRuwgjoLvZvQ_CCode">Please type in the characters displayed above.</label>
                                                                            </div>
                                                                           </div>



                                                                        <div class="form-group">
                                                                            <div class="col-xs-12 col-sm-6">
                                                                                <button class="btn btn-primary convertible btn-cta" type="button" id="btnSendQuestion" data-rel="84e3e6d2-cf99-4e0f-aa2d-ff1cd19e7533" data-name="asset" data-linktype="sendquestionmodule">SUBMIT</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>

                                                           
                                                        </div>
                                                    </div>
                                                </div>
                                               
                                            </div>
                                        </section>
                                    </div>

                                </div>
                            </div>

                        </section>
                    </div>
                </div>





                <div id="block-footer" class="ui-container color-container row c-right c-ui-edge" data-shape="" data-shape-color="full-black" data-scroll-speed="1" data-background-video="" data-background-image="url('')" style="min-height: 471px;">
                    <div class="ui-content-box inline not-printable visible-lg visible-md visible-sm">
                        <section class="container-block">
                            <div class="col-sm-12">

                                <div>
                                    <span>
                                        <label style="color:white; font-size:15px;">Local:&nbsp;</label>
                                        <span>

                                            <a class="phone-LocalPhoneNumber" style="color:white; font-size:15px" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="footermodule:footer" href="callto://13128425012">+1 (312) 842-5012</a>
                                        </span>
                                        <label style="color:white; font-size:15px;">Toll Free:&nbsp;</label>
                                        <span>

                                            <a class="phone-TollFreeHotLine" style="color:white; font-size:15px" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="footermodule:footer" href="callto://18778899009">1 (877) 889-9009</a>
                                        </span>
                                    </span>
                                    <div class="social">
                                        <a class="acn-spr facebook" title="Follow us on Facebook" href="http://www.facebook.com/Algroindia" target="_blank" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="footermodule:exit" aria-label="Follow us on Facebook"></a>
                                        <a class="acn-spr linkedin" title="Follow us on LinkedIn" href="https://www.linkedin.com/company/Algroindia" target="_blank" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="footermodule:exit" aria-label="Follow us on LinkedIn"></a>
                                        <a class="acn-spr twitter" title="Follow us on Twitter" href="http://www.twitter.com/Algroindia" target="_blank" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="footermodule:exit" aria-label="Follow us on Twitter"></a>
                                        <a class="acn-spr youtube" title="See Algro on YouTube" href="http://www.youtube.com/Algroindia" target="_blank" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="footermodule:exit" aria-label="See Algro on Youtube"></a>
                                    </div>
                                    <div>
                                        <div class="footer-textlink">
                                            <span>

                                                <a style="color:white; font-size:15px;" href="~/Home/Index" title="About Algro" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="footer">About Algro</a>&nbsp;&nbsp;

                                            </span>
                                            <span>

                                                <a style="color:white; font-size:15px;" href="~/About/contactus" title="Contact Us" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="footer">Contact Us</a>&nbsp;&nbsp;

                                            </span>
                                            <span>

                                                <a style="color:white; font-size:15px;" href="~/About/Location" title="Find a Location" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="footer">Find a Location</a>&nbsp;&nbsp;

                                            </span>
                                        </div>
                                        <div class="footer-textlink">

                                            <span style="">

                                                <a style="color:white; font-size:15px;" href="~/About/termsuse" title="Terms of Use" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="footer">Terms of Use</a>&nbsp;&nbsp;
                                            </span>
                                            <span style="">

                                                <a style="color:white; font-size:15px;" href="~/About/careers" title="Careers" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="footer">Careers</a>&nbsp;&nbsp;
                                            </span>
                                        </div>
                                    </div>

                                    <div id="disclaimer-copyright" class="color-white" style="font-size:15px;">
                                        <p class="footer-copyright"><span>©&nbsp;</span><span>2018 </span><span>Algro INC. All Rights Reserved.</span></p>
                                        <br>
                                    </div>
                                </div>

                            </div>
                        </section>
                    </div>
                    <div class="ui-content-box inline not-printable visible-xs">
                        <section class="container-block">
                            <div class="col-sm-12">




                                <div>
                                    <div>
                                        <div>
                                            <a href="~/Home/Index" id="footer-contacts" tabindex="-1" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="mobilefooter-preview-mode:footer">
                                                <span class="icons-links" style="display: inline-block;width: 18px;"></span>
                                                <span style="color:white; font-size:15px;">About Algro</span>
                                            </a>
                                        </div>
                                        <div>
                                            <a href="~/About/contactus" id="footer-contacts" tabindex="-1" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="mobilefooter-preview-mode:footer">
                                                <span class="icons-links__icon-contact"></span>
                                                <span style="color:white; font-size:15px;">Contact Us</span>
                                            </a>
                                        </div>

                                        <div class="mobile-footer-contacts">
                                            <div>
                                                <label style="color:white; font-size:15px;">Local:&nbsp;</label>
                                                <span><a class="phone-LocalPhoneNumber" style="color:white; font-size:15px" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="mobilefooter-preview-mode:footer" href="callto://13128425012">+1 (312) 842-5012</a></span>
                                            </div>
                                            <div>
                                                <label style="color:white; font-size:15px;">Toll Free:&nbsp;</label>
                                                <span><a class="phone-TollFreeHotLine" style="color:white; font-size:15px" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="mobilefooter-preview-mode:footer" href="callto://18778899009">1 (877) 889-9009</a></span>
                                            </div>
                                        </div>
                                        <div class="social">
                                            <a class="acn-spr facebook" title="Follow us on Facebook" href="http://www.facebook.com/Algroindia" target="_blank" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="mobilefooter-preview-mode:exit" aria-label="Follow us on Facebook"></a>
                                            <a class="acn-spr linkedin" title="Follow us on LinkedIn" href="https://www.linkedin.com/company/Algroindia" target="_blank" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="mobilefooter-preview-mode:exit" aria-label="Follow us on LinkedIn"></a>
                                            <a class="acn-spr twitter" title="Follow us on Twitter" href="http://www.twitter.com/Algroindia" target="_blank" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="mobilefooter-preview-mode:exit" aria-label="Follow us on Twitter"></a>
                                            <a class="acn-spr youtube" title="See Algro on YouTube" href="http://www.youtube.com/Algroindia" target="_blank" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="mobilefooter-preview-mode:exit" aria-label="See Algro on Youtube"></a>
                                        </div>
                                        <div id="footer-textlink">
                                            <ul id="mobile-textlink">
                                                <li class="withbordertextlink"><a href="~/About/Location" title="Terms of Use" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="mobilefooter-preview-mode:footer"><span style="color:; font-size:15px;">Find a Location</span></a></li>

                                                <li class="withbordertextlink"><a href="~/About/termsuse" title="Terms of Use" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="mobilefooter-preview-mode:footer"><span style="color:; font-size:15px;">Terms of Use</span></a></li>
                                                <li class="withbordertextlink"><a href="~/About/careers" title="Careers" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="mobilefooter-preview-mode:footer"><span style="color:; font-size:15px;">Careers</span></a></li>
                                            </ul>
                                        </div>

                                        <div id="disclaimer-copyright" class="color-white" style="font-size:15px;">
                                            <p class="footer-copyright"><span>©&nbsp;</span><span>2018 </span><span>Algro. All Rights Reserved.</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>




            </section>
        </div>


    </div>
    <script src="~/Scripts/jquery-1.10.2.js" type="text/javascript">

    </script>
    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript">

    </script>
    <script src="~/Scripts/bootstrap.js" type="text/javascript">

    </script>
    <script src="~/Scripts/respond.js" type="text/javascript">

    </script>
    <script src="~/Scripts/utility.js" type="text/javascript">



    </script>

    <script src="~/Scripts/prebody.js" type="text/javascript">

    </script>
    <script src="~/Scripts/postbody.js" type="text/javascript">

    </script>
</body>
</html>
